*{
    box-sizing: border-box;
    font-family: '標楷體';
}
body{
    width: 1024px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 0 12px;
    margin: auto;
    justify-content: center;
}
header{
    width: 1000px;
    height: 65px;
    border: 1px solid black;
}
aside{
    width: 215px;
    height: calc(768px - 65px - 20px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
#menu{
    width: 100%;
    flex-basis: calc(768px - 65px - 20px - 25px);
    border: 1px solid rgb(206, 62, 105);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu>p{
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
    color:#f0f;
    
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a{
    color: #000;
    font-size: 16;
    /* background-image: ; */
    background-image: url("./images/menu1.png");
    width: 200px;
    flex-basis: 35px;
    text-align: center;

}

#update{
    width: 100%;
    flex-basis: 25px;
    border: 1px solid rgb(41, 235, 66);

}
section{
    /* 注意 */
    width: calc(100% - 215px);
    height: calc(768px - 65px- 20px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
marquee{
    flex-basis: 29px;
    /* width: 770px; 這個忽略*/
    border: 1px solid black;
    font-size: x-large;
    color: #00f;
}
#content{
    /* 注意 */
    flex-basis: calc(100% - 29px);
    width: 100%;
    border: 1px solid black;
}
footer{
width: 1000px;
height: 20px;
border: 1px solid rgb(89, 56, 233);
}